* {
    padding: 0;
    margin: auto;
}

header {
    height: 50px;
    background-color: #815288;
    text-align: center;
}

nav {
    height: 30px;
    background-color: #512315;
    text-align: center;
}

.content {
    height: 200px;
}

.content aside {
    background-color: wheat;
    float: left;
    width: 33.33333%;
    height: 200px;
}

.space {
    float: left;
    width: 33.33333%;
    height: 200px;
}

.content section {
    background-color: #667813;
    float: right;
    width: 33.33333%;
    height: 200px;
    text-align: left;
}

footer {
    height: 50px;
    background-color: #874613;
    text-align: center;
}